<% layout('layouts/boilerplate')%>
<div class="adminpannel adminbg">
    <div class="mt-5">
    
        <div class="marcon bgmar">
            <h1 style="font-size: 4rem;" class="mar califont">Delete Painting</h1>
        </div>
      </div>
      <%for(t of p){%>
        <div class="pdelete">
            <h3><%=t.title%></h3>
            <form action="/painting/delete" method = "POST" novalidate>
                
                <div class="mb-3">
                    <input class="form-control" type="text" id="title" name="name" value="<%=t._id%>" hidden>
                    
        
                    <div class="valid-feedback">
                        Looks Good
                    </div>
                </div>
                <button class="btn btn-success">Delete</button>
            </form>
        </div>
       
    <%}%>
 
</div>